feedparser
requests
pydantic
pydantic-settings
sqlmodel
markdownify
SQLAlchemy
sqlalchemy-schemadisplay
ipdb
rich
fastapi
uvicorn
fastapi-scheduler
aiosqlite
fastapi_amis_admin[sqlmodel]
tqdm
alembic
